.schermata{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    border-radius: 10px;
}
.widget {
    position: relative;
    max-width: 450px;
    height: 125px;
    margin: 100px auto 0;
    overflow: hidden; 
}
body{
    background: #f2f2f2 ;
    font-family: 'Verdana'; 
}
.meteo_attuale{
    background: linear-gradient(28deg, #ffffff 0%, #ffffff 68%, rgba(237, 221, 83, 0.55) 100%);
    border-radius: 10px;
}
.icona_meteo_attuale{
    width:60px;
}
.meteo_cinque_ore{
    background: #ffffff;
    border-radius: 10px;
}
.meteo_cinque_giorni{
    background: #ffffff;
    border-radius: 10px;
}

.meteo_attuale_contenuto{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sinistra {
    text-align: left;
    padding-left: 15px;
}
.sinistra p{
    opacity: 0.7;
}

.destra {
    width: 20%; 
    height: auto;
}
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 5px;
  border-radius:20px;
  max-width: 450px;
}
.container div {
  font-size: 10px;
  text-align: center;
  padding: 5px;
}
.container img{
    width: 55px;
}
.ora{
    padding: 5px;

}
